.txt-col-green {
    color: var(--color-juicy-green);
}

.txt-col-darker {
    color: var(--color-darker);
}

.txt-col-recap-player {
    color: #8c8c8c;
}

.txt-col-darkest {
    color: #4a4a4a;
}

.txt-col-white {
    color: white;
}

.txt-col-red {
    color: red;
}

.bg-white {
    background: white;
}

.level-c1 {
    background-color: #93c47d;
}

.level-c2 {
    background-color: #b6d7a8;
}

.level-c3 {
    background-color: #d9ead3;
}

.level-c4 {
    background-color: #fff2cc;
}

.level-c5 {
    background-color: #e6b8af;
}

.level-c11 {
    background-color: #b6d7a8;
}

.level-c22 {
    background-color: #d9ead3;
}

.level-c33 {
    background-color: #fff2cc;
}

.level-c44 {
    background-color: #fce5cd;
}

.level-c55 {
    background-color: #f4cccc;
}

.level-c66 {
    background-color: #e6b8af;
}
